<div class="container">
  <div class="row">
      <div id="addproducttype" class="col-xs-4 col-sm-2 col-md-2 producttype-item" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">
        <div>
          <i class="fas fa-plus producttype-icon"></i>
          <p>Add new </p>
        </div>
      </div>
  <% producttypes.each do |producttype| %>
      <div class="col-xs-4 col-sm-2 col-md-2 producttype-item" >
        <div >
          <p><%= link_to producttype.thumb.html_safe , producttype%><p>
          <p><%= link_to producttype.name , producttype %>  <%= link_to '<i class="fas fa-marker edit-item"></i>'.html_safe, edit_producttype_path(producttype) %> <%= link_to '<i class="fas fa-trash-alt drop-item"></i>'.html_safe, producttype, method: :delete, data: { confirm: 'Are you sure?' } %></p>
        </div>
      </div>
  <% end %>
  </div>
</div>
