<div class="container categories-navbar categories-navbar-hide" id="categories-navbar" >
  <div class="row">
   <div class="col-xs-12 col-sm-12 col-md-12">
    <div class="row">
       <div class="carousel carousel-nav"
        data-flickity='{ "asNavFor": ".carousel-main", "contain": true, "pageDots": false }'>
        <% Producttype.all.each do |cat| %>
          <div class="carousel-cell">

            <%= cat.thumb.html_safe %>
            <div class="category-item" style="text-align: center;"><p><%= cat.name %></p></div>
          </div>
        <% end %>

      </div>
      </div>
    </div>
  </div>
</div>
