
 <!-- Footer -->
<footer class="page-footer">


    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

          <!-- Content -->
          <h5 class="text-uppercase">CheapCom</h5>
          <p>May your and your closet be FULL.</p>
          <div class="footer-links">
            <a href="#"><i class="fab fa-github"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
          </div>
        </div>

        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">SERVICE CLIENT</h5>

            <ul class="list-unstyled">
              <li>
                <a href="#!">Aide & FAQ</a>
              </li>
              <li>
                <a href="#!">Suivre votre commande</a>
              </li>
              <li>
                <a href="#!">Black Friday</a>
              </li>
              <li>
                <a href="#!">Politique de Confidentialité</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">À PROPOS</h5>

            <ul class="list-unstyled">
              <li>
                <a href="#!">Carrières</a>
              </li>
              <li>
                <a href="#!">Qui sommes-nous</a>
              </li>
              <li>
                <a href="#!">CheapCom Express</a>
              </li>
              <li>
                <a href="#!">Gagnez de l'argent !</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://cheapcom.herokuapp.com/"> CheapCom</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->

