
<div>
    <section style="height:80px;"></section>
  <div class="row" style="text-align:center;">
    <!-- <h2>Bootstrap Dark Footer UI</h2> -->
  </div>
    <!----------- Footer ------------>
    <footer class="footer-bs">
        <div class="row">
          <div class="col-md-3 footer-brand animated fadeInLeft">
              <%= image_tag "logo.png", height: 80  %>
                <p>May your <i class="fas fa-heart"></i> and your closet be FULL...</p>
                <p class= "rights-reserved">© 2018 All rights reserved</p>
            </div>
          <div class="col-md-4 footer-nav animated fadeInUp">
              <div class="col-md-6">
                <h4>Menu: </h4>
                <ul class="pages">
                    <li><a href="#">FlashSouk</a></li>
                    <li><a href="#">Order</a></li>
                    <li><a href="#">Shipping</a></li>
                    <li><a href="#">Delivery</a></li>
                    <li><a href="#">Price</a></li>
                </ul>
              </div>
              <div class="col-md-6 footer-pages">
                <h4>Pages: </h4>
                <ul class="list list-unstyled">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contacts</a></li>
                    <li><a href="#">Terms & Condition</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
              </div>
            </div>
          <div class="col-md-2 footer-social animated fadeInDown">
              <h4>Follow Us:</h4>
              <ul class="list-unstyled">
                  <li><a href="#"><i class="fab fa-facebook"></i> Facebook</a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i> Twitter</a></li>
                  <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
                  <li><a href="#"><i class="fab fa-linkedin"></i> Linkedin</a></li>
                </ul>
            </div>
          <div class="col-md-3 footer-ns animated fadeInRight">
              <h4>Newsletter</h4>
                <p>A rover wearing a fuzzy suit doesn’t alarm the real penguins</p>
                <p>
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search for...">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-envelope"></span></button>
                      </span>
                    </div><!-- /input-group -->
                 </p>
            </div>
        </div>
    </footer>
    <section style="text-align:center; margin:10px auto;"><p><a href="http://flashsouk.com">FlashSouk</a></p></section>

</div>
