<% image1 = image_path'Club1.jpg'%>
<% image2 = image_path'Club2.jpg'%>
<% image3 = image_path'Club3.jpg'%>
<% image4 = image_path'Club4.jpg'%>
<div class="container-full">
  <!-- Navbar caroussel -->
    <div class="carousel carousel-main " data-flickity='{"autoPlay": true,"autoPlay": 5000, "pageDots": false}'>
      <div class="carousel-cells" style="background-image: url(<%= image1 %>);background-size: cover !important;"></div>

      <div class="carousel-cells" style="background-image: url(<%= image2 %>);background-size: cover !important;"></div>

      <div class="carousel-cells" style="background-image: url(<%= image4 %>);background-size: cover !important;"></div>
    </div>
   <!-- End navbar raroussel -->

</div>
