<div class="container-full">
  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://source.unsplash.com/1600x900/?buy');">
    <div class="banner-content">
      <div id="title1" class="title1">Making the market smarter</div>
      <div id="title2" class="title2">Enjoy our products</div>
       <br/>
        <div class="col-xs-12 col-sm-12">
          <%= form_tag productsearch_path, method: :get do %>
             <div class="input-group ">
                <%= text_field_tag :query,
                    params[:query],
                    class: "form-control input-lg",
                    placeholder: "Type your product : Samsung,Iphone,..."
                  %>
                <div class="input-group-btn">
                  <button class="btn btn-primary btn-lg" type="submit">
                    <span class="glyphicon glyphicon-search"></span>
                  </button>
                </div>
              </div>
          <% end %>
        </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12">
    <div class="row">
       <div class="carousel carousel-nav"
        data-flickity='{ "asNavFor": ".carousel-main", "contain": true, "pageDots": false }'>
        <% Producttype.all.each do |cat| %>
          <div class="carousel-cell">
            <%= cat.thumb.html_safe %>
            <div class="category-item" style="text-align: center;"><p><%= cat.name %></p></div>
          </div>
        <% end %>

      </div>
      </div>
    </div>
</div>
