<h1> Welcome <span class="mail-user"> <%= current_user.username %> </span>  </h1>

<div class="container">
    <div class="col-xs-12 col-md-6">
       <div class="img-settings" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://source.unsplash.com/user/erondu/1600x900');">
            <h2> Add Product</h2>
            <a class="card-link" href="../products/new" ></a>
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="img-settings" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://source.unsplash.com/weekly?water');">
          <h2> Add Product Type</h2>
          <a class="card-link" href="../producttypes/new" ></a>
        </div>

    </div>
    <div class="col-xs-12 col-md-6">
      <div class="img-settings" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://source.unsplash.com/1600x900/?nature,water');">
            <h2> Profile Settings</h2>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="img-settings" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://source.unsplash.com/WLUHO9A_xik/1600x900');">
          <h2> Sales</h2>
        </div>
    </div>
</div>


