/* Main navbar */
.categories-navbar{
  position: fixed;
  z-index: 100;
  top: 70px;
  left: 0;
  width: 100%;
  background: white;
  height: 70px;
  padding-bottom: 10px;
}

.categories-navbar-hide{
<<<<<<< HEAD
  visibility:hidden
=======
  visibility:hidden;
>>>>>>> ef650710771a794ae63aa7edf108610f1fadccaa
}







