/* Main navbar */
.categories-navbar{
  position: fixed;
  z-index: 100;
  top: 70px;
  left: 0;
  width: 100%;
  background: white;
  height: 70px;
  padding-bottom: 10px;
}

.categories-navbar-hide{
  visibility:hidden
}

.carousel-cell{
  text-align: center;
  i{
    font-size: 40px;
    margin-top: 10px;
  }
}







