.img-settings{
  height:175px;
  background-size: cover;
  margin-bottom: 20px;

}
.mail-user{
  color : #488b8f;
  font-size: 35px;
}



h2 {
  color: white;
  text-align: center;
  padding-top: 12%;
}


h1{
  font-family: Helvetica;
}



