
$base-base:        #ebf0f6;
$color-primary:   $blue;
$brand-success:   $green;
$brand-info:      $yellow;
$brand-danger:    $red;
$brand-warning:   $orange;

.page-footer{
  background-color: $base-base;
}
