.footer {
  background: #FBFBFB;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.1);
 -webkit-box-shadow: 3px 2px 17px -4px rgba(133,133,133,0.64);
-moz-box-shadow: 3px 2px 17px -4px rgba(133,133,133,0.64);
box-shadow: 3px 2px 17px -4px rgba(133,133,133,0.64);
  margin-top: 50px;

}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}
