
.form-login{
  width : auto;
  background-color: $light-gray;
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 5px;
  padding-top: 2px;
  margin-bottom: 25px;
  h2{
    padding-top: 12px;
    color: black;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  hr{
    border: 1px solid #e0e0ec;
    margin-bottom: 25px;
  }
  .btn{
    width: 100%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 22px;
  }
  .fa{
    float: right;
    margin-right: 5px;
    margin-top: -42px;
    position: relative;
  }
  .own-button{
    color: inherit;
    text-decoration: none;
    background: darken(#ffcab0, 10%);
    padding: 8px;
    display: inline-block;
    outline: 0;
    border: 0;
    border-radius: 2px;
    letter-spacing: 1px;
    color: #F5F5F5;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    &:hover {
      color: white;
      text-decoration: none;
      background: #fb9a40;
      transition: all .4s ease-in-out;
    }

    // .own-links{
    //   color: inherit;
    //   text-decoration: none;
    //   color: #F5F5F5;

    // }
}

}
    .own-links{
      color: inherit;
      text-decoration: none;
      color:  black;
      font-size: 16px;
      font-weight: bold;
      &:hover{
        color: #fb9a40
      }

    }








