.producttype-item{
  padding: 0px;
  div{
    text-align: center;
    background-color: #f8b500;
    margin: 4px;
    height: 100px;
    padding:5px;
    border-radius: 10px;
    color:white;
    p{
      margin: 4px;
    }
    a{
      color: white;
      text-decoration: none;
    }
    i{
      font-size: 60px;
    }
  }
}


.producttype-item-add{
  padding: 0px;
  div{
    text-align: center;
    background-color: #fff0bc;
    margin: 4px;
    height: 100px;
    padding:5px;
    border-radius: 10px;
    color:white;
    p{
      margin: 4px;
    }
    a{
      color: white;
      text-decoration: none;
    }
    i{
      font-size: 60px;
    }
  }
}

.drop-item{
  font-size: 15px !important;
}

.edit-item{
  font-size: 15px !important;
}
