.h2-title{
  margin-top: 50px;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  color:#f7931e;
}
.row-content{
   margin-top: -10px;
  margin-bottom: 30px;
}

.h2-subtitle{
  margin-top: 0px;
  margin-bottom: 40px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.all-articles{
  padding-left: 20px;
  padding-right: 20px;
}
.upload-pic{

  margin-bottom: 30px;
  border:10px dashed #2eb9ce;
  border-radius: 10px;
  text-align: center;
  color: white;
  padding:20px;
  p{
    font-size: 20px;
    font-size: 30px;
  }
}

.product_new_form{
  padding-top: 10px;
  background-color: white;
  -webkit-box-shadow: 2px 3px 13px -3px rgba(107,92,107,0.68);
  -moz-box-shadow: 2px 3px 13px -3px rgba(107,92,107,0.68);
  box-shadow: 2px 3px 13px -3px rgba(107,92,107,0.68);
  border-radius: 10px 10px 10px 10px;
}
.productimages_new_form{
  background-color: white;
  padding-top: 10px;
  padding-bottom: 30px;
  margin-left: 15px;
  -webkit-box-shadow: 2px 3px 13px -3px ;
  -moz-box-shadow: 2px 3px 13px -3px rgba(107,92,107,0.68);
  box-shadow: 2px 3px 13px -3px rgba(107,92,107,0.68);
  border-radius: 10px 10px 10px 10px;
}

.label-input{
  color : gray ;
  font-size:15px;
  margin-right: 5px;
}

.pics-label-input{
  color : gray ;
  font-size:15px;
  margin-right: 5px;
  font-style: italic;
}

.input-input{
  width: 50%;
}

.product_form{
  padding-top: 20px;
}

.button-form{
  margin-top: 40px;
  margin-bottom: 30px;
  text-align: right;
}

.upload-span{
  margin-top: 30px;
}
.title-span{
  margin-top: 20px;
  margin-bottom: 20px;
}

.img-prev{
  border-radius: 10px 10px 10px 10px;
}

.product-img{
  background-size: 100%;
}
