.product_pic{
  background-size: cover !important;
  height: 400px;
  width: 100%;
}

.product{
  margin-top: 50px;
  background-size: cover !important;
}

.product1{
  margin-top: 50px;
   text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
}
