
.photo-preview {
  width: 90px;
  height: 90px;
  position: relative;
  border-radius: 100%;
  border: 6px solid #F8F8F8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.photo-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
 .container2 .btn {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

    color: white;
    font-size: 16px;

    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

/////////////////////////////////////////////////////////////

.submit-button{
  position: absolute;
  left: 70%;
  top: 45%;
  width: 180px;
  height: 50px;
  border-radius: 50px;
  text-align: center;
}

.sprice-circle {
  position: absolute;
  left: 30%;
  top: 40%;
  font-size: 60px;
  height: 180px;
  width: 180px;
  margin: 20px 0;
  border: 3px solid;
  display: inline-block;
  border-radius:50%;
  text-align: center;

}
/////////////////////////////////////////////////////////////

.left {
  float: left;
  position: relative;
  width: 100%;
  height: 100%;
}

.right {
  float: left;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: green;
}

#display {
  margin-top: 10px;
  background: #2d2d2d;
  border: 10px solid #000000;
  border-radius: 5px;
  font-size: 2em;
  color: white;
  height: 100px;
  min-width:200px;
  text-align: center;
  padding: 1em;
  display:table-cell;
  // horizontal-align:middle;
}

#drag-elements {
  display: block;
  background-color: #F4F4F4;
  border-radius: 50px;
  min-height: 110px;
  margin: 2 auto;
  padding: 0.5em;
}

#drag-elements > div {
  width: 90px;
  height: 90px;
  text-align: center;
  float: left;

  margin: 0 1em 1em 0;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  border: 2px solid #ececec;
  transition: all .5s ease;
}

#drag-elements > div:active {
  -webkit-animation: wiggle 0.3s 0s infinite ease-in;
  animation: wiggle 0.3s 0s infinite ease-in;
  opacity: .6;
  border: 2px solid #000;
}

#drag-elements > div:hover {
  border: 2px solid gray;
  background-color: #e5e5e5;

}

#drop-target {
  border: 2px dashed #D9D9D9;
  border-radius: 5px;
  min-height: 130px;
  margin: 0 auto;
  margin-top: 10px;
  margin-left: 10px;
  padding: 0.5em;
  display: block;
  text-align: center;
}

#drop-target > div {
  height: 100px;
  width: 92.5px;
  transition: all .5s;
  text-align: center;
  float: right;
  padding: 1em;
  margin: 0 1em 1em 0;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  border: 2px solid skyblue;
  background: black;
  transition: all .5s ease;
}


#drop-target > div:active {
  -webkit-animation: wiggle 0.3s 0s infinite ease-in;
  animation: wiggle 0.3s 0s infinite ease-in;
  opacity: .6;
  border: 2px solid #000;
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(2deg);
  }
  75% {
    -webkit-transform: rotate(-2deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(-2deg);
  }
  25% {
    transform: rotate(2deg);
  }
  75% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  padding: 1em;
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.gu-mirror {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
