

<!-- the caroussel for futured products -->
<% if current_user%>
   <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 row-content">
      <h2 class="h2-title">Featured items</h2>
      <p class="h2-subtitle">Get the best options tailored for you ... </p>
        <div class="carousel" data-flickity='{ "groupCells": true , "autoPlay": true}'>
          <% @products.each do |product| %>
            <% if product.productimages[0].nil? %>
              <% default_image = image_path("default_product.png") %>
            <% else %>
              <% default_image = cl_image_path Productimage.find(product.productimages[0].id).photo, height: 300, width: 400, crop: :fill %>
            <% end %>
            <div class="carousel-cell" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= default_image %>);" >
            </div>
          <% end %>
        </div>
    </div>
  </div>
<% end %>


